.miniDetails {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}